{% extends "base.html.twig" %}


{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('app_admin_api_detail') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('app_admin_api_detail') }}
{% endblock %}

{% block title %}
    {% if entity is defined and create is not defined %}
        {{ entity.name }}
        {% else %}
        Create Api
    {% endif %}
{% endblock %}

{% block body %}
    {% if create is not defined %}
        <div class="container p-5 d-flex justify-content-end">
            <div class="btn-group" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-outline-danger"  data-bs-toggle="modal" data-bs-target="#deleteApiModal">Delete</button>
            </div>
        </div>
    {% endif %}

    <div class="container {% if create is defined %}p-5{% else %}ps-5 pe-5 pb-5{% endif %}">
        <form action="{% if create is defined %}{{ path('app_entity_create') }}{% else %}{{ path('app_entity_update', {id: entity.id}) }}{% endif %}" method="post" id="dummy-form"></form>

        <input form="dummy-form" type="hidden" name="entity-class" value="{{ getApiClassName() }}">
        <input form="dummy-form" type="hidden" name="success-redirect" value="app_admin_api_detail">
        <input form="dummy-form" type="hidden" name="success-redirect-type" value="entity-detail-route" />


        <div class="form-floating mb-3">
            <input form="dummy-form" type="text" class="form-control" name="name" id="name" placeholder="test" {% if entity is defined %}value="{{ entity.name }}"{% endif %}>
            <label for="name">Name</label>
        </div>

        {% if create is not defined %}
            <div class="text-center mt-3 mb-3">
                <h5>Api-Level Headers</h5>
                <div class="text-start">
                    <ol class="list-group">
                        {% for header in entity.dummyApiHeaders %}
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <form action="{{ path('app_entity_delete', {id: header.id}) }}" method="post" id="dummy-header-form-{{ header.id }}"></form>
                                <div class="ms-2 me-auto flex-column">
                                    <div class="fw-bold">{{ header.name }}</div>
                                    {{ header.type | upper}}
                                </div>
                                <div class="flex-column text-end">
                                    {% if header.value %}
                                        <b>{{ header.value }}</b>
                                    {% endif %}
                                </div>
                                <div class="flex-column text-center ms-2">
                                    <input form="dummy-header-form-{{ header.id }}" type="hidden" name="success-redirect" value="{{ path('app_admin_api_detail', {id: entity.id}) }}" />
                                    <input form="dummy-header-form-{{ header.id }}" type="hidden" name="success-redirect-type" value="path" />
                                    <input form="dummy-header-form-{{ header.id }}" type="hidden" name="entity-class" value="{{ getApiHeaderClassName() }}" />
                                    <button form="dummy-header-form-{{ header.id }}" type="submit" class="btn btn-outline-danger">X</button>
                                </div>
                            </li>
                        {% endfor %}
                    </ol>
                </div>
                <button class="btn btn-outline-primary mt-3" type="button" data-bs-toggle="modal" data-bs-target="#headerModal">Add</button>
            </div>
        {% endif %}

        {% if create is not defined %}
            <div class="text-center mt-3 mb-3">
                <h5>Endpoints</h5>
                <div class="text-start">
                    <ol class="list-group">
                        {% for endpoint in entity.dummyApiEndpoints %}
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <form action="{{ path('app_entity_delete', {id: endpoint.id}) }}" method="post" id="dummy-endpoint-form-{{ endpoint.id }}"></form>
                                <div class="ms-2 me-auto flex-column">
                                    <div class="fw-bold">{{ endpoint.path }}</div>
                                    {{ endpoint.contentType }}
                                </div>
                                <div class="flex-column text-end">
                                    <a href="{{ path('app_admin_api_endpoint_detail', {id: endpoint.id}) }}">Edit</a>
                                    {% for method in endpoint.allowedMethods %}
                                        <span class="badge bg-primary text-uppercase ms-1">
                                            {{ method }}
                                        </span>
                                    {% endfor %}
                                </div>
                                <div class="flex-column text-center ms-2">
                                    <input form="dummy-endpoint-form-{{ endpoint.id }}" type="hidden" name="success-redirect" value="{{ path('app_admin_api_detail', {id: entity.id}) }}" />
                                    <input form="dummy-endpoint-form-{{ endpoint.id }}" type="hidden" name="success-redirect-type" value="path" />
                                    <input form="dummy-endpoint-form-{{ endpoint.id }}" type="hidden" name="entity-class" value="{{ getApiHeaderClassName() }}" />
                                    <button form="dummy-endpoint-form-{{ endpoint.id }}" type="submit" class="btn btn-outline-danger">X</button>
                                </div>
                            </li>
                        {% endfor %}
                    </ol>
                </div>
                <button class="btn btn-outline-primary mt-3" type="button" data-bs-toggle="modal" data-bs-target="#endpointModal">Add</button>
            </div>
        {% endif %}
        <button form="dummy-form" class="btn btn-primary" type="submit">
            {% if create is not defined %}
                Save
            {% else %}
                Create
            {% endif %}
        </button>
    </div>

    {% if create is not defined %}
        <!-- Endpoint modal -->
        {% include "component/modal/api-endpoint-create-modal.html.twig" with {
            id: 'endpointModal',
            title: 'Create Endpoint',
            successRedirect: path('app_admin_api_detail', {id: entity.id}),
            dummyApiId: entity.id
        } %}


        <!-- Header modal -->
        {% include "component/modal/api-header-create-modal.html.twig" with {
            id: 'headerModal',
            title: 'Add Header to Dummy-Api',
            successRedirect: path('app_admin_api_detail', {id: entity.id}),
            hiddenValues: {
                dummyApiId: entity.id
            }
        } %}


        <!-- Delete Api Modal -->
        {% include "component/modal/entity-delete-modal.html.twig" with {
            id: 'deleteApiModal',
            title: 'Delete?',
            entityId: entity.id,
            entityClassName: getApiClassName(),
            successRedirect: path('app_admin')
        } %}
    {% endif %}
{% endblock %}
