{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('app_login') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('app_login') }}
{% endblock %}

{% block body %}
    <div class="container d-flex justify-content-center">
        <div class="card login-modal mt-5 p-5 w-100">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                <br>
            {% endif %}
            <div class="justify-content-center">
                <h3>Login</h3>
            </div>
            <form action="{{ path('app_login') }}" method="post">
                <div class="mb-3">
                    <label for="username" class="form-label">Email address</label>
                    <input type="email" class="form-control" id="username" name="_username" placeholder="name@example.com">
                </div>

                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" id="password" name="_password">
                </div>

                {# If you want to control the URL the user is redirected to on success #}
                <input type="hidden" name="_target_path" value="{{ path('app_admin') }}"/>
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                <div class="row align-items-center">
                    <div class="col-6">
                        <button type="submit" class="btn btn-primary float-start">Login</button>
                    </div>
                    <div class="col-6">
                        <a class="float-end" href="{{ path('app_register') }}">Register</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
